# Anonymise emails

Find emails in a spreadsheet and strip the part before the @ symbol

You may need to install openpyxl to enable the ExcelWriter functionality

In [1]:
import pandas as pd
from pandas import ExcelWriter

In [2]:
excel_file = 'attendees.xlsx'
attendees = pd.read_excel(excel_file)

writer = ExcelWriter('cleaned_attendees.xlsx')

In [3]:
attendees.head()

,ID,First Name,Surname,Email,Organisation
0,1,Arthur,Smith,arthur.smith@example.ac.uk,University of Example
1,2,Betty Bridget,Jones,bbjones@somewhere.ac.uk,Somewhere College
2,3,Clive,McDonald,cmcd@ghotmail.con,NaN
3,4,Daphne,Wilson-Brown,s23292223@where.ac.uk,Where
4,5,Eric,Taylor Davies,"EricTaylorDavies""difficult.email",NaN

In [4]:
attendees['Email'] = '...@' + attendees['Email'].str.split('@').str[1]

In [5]:
attendees.head()

,ID,First Name,Surname,Email,Organisation
0,1,Arthur,Smith,...@example.ac.uk,University of Example
1,2,Betty Bridget,Jones,...@somewhere.ac.uk,Somewhere College
2,3,Clive,McDonald,...@ghotmail.con,NaN
3,4,Daphne,Wilson-Brown,...@where.ac.uk,Where
4,5,Eric,Taylor Davies,NaN,NaN

In [7]:
attendees.to_excel(writer, sheet_name='Sheet1')
writer.save()